<!DOCTYPE html>
<html lang="en" ng-app="dumaDashboardApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="favicon.png" />
		 <!-- compiled css output -->
		<link href="css/dashboard.css" rel="stylesheet">
		<!-- angular scripts -->
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular-animate/angular-animate.min.js"></script>
		<script src="lib/angular-resource/angular-resource.min.js"></script>
		<script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="lib/angular-round-progress-directive/angular-round-progress-directive.js"></script>
		<!-- custom scripts -->
		<script src="js/dashboard/services.js"></script>
		<script src="js/dashboard/controllers.js"></script>
		<script src="js/dashboard/app.js"></script>
		<title>DumaWorks App Challenge</title>
	</head>
	<body ng-controller="HeaderNavCtrl">
		 <div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar" aria-expanded="false" aria-controls="navbar"
					ng-click="navbarCollapsed = !navbarCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="img/duma_backend.png" alt="" id="logo" class="img-responsive">
				</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/#/login">Log Out</a></li>
				</ul>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div id="navbar" class="collapse navbar-collapse" collapse="!navbarCollapsed">
				<ul class="nav navbar-nav side-nav">
					<li ng-class="{ active: isActive('/')}">
						<a href="/dashboard.html#/" ng-click="navbarCollapsed = !navbarCollapsed" class="primary-link">My Jobs</a>
					</li>
					<li ng-class="{ active: isActive('/jobs-list?new')}">
						<a href="/dashboard.html#/jobs-list?new" ng-click="navbarCollapsed = !navbarCollapsed" ng-click="navbarCollapsed = !navbarCollapsed" class="indent">New</a>
					</li>
					<li ng-class="{ active: isActive('/jobs-list?ongoing')}">
						<a href="/dashboard.html#/jobs-list?ongoing" ng-click="navbarCollapsed = !navbarCollapsed" class="indent">Ongoing</a>
					</li>
					<li ng-class="{ active: isActive('/jobs-list?ongoing')}">
						<a href="/dashboard.html#/jobs-list?ongoing" ng-click="navbarCollapsed = !navbarCollapsed" class="indent">Waiting</a>
					</li>
					<li ng-class="{ active: isActive('/jobs-list?ongoing')}">
						<a href="/dashboard.html#/jobs-list?ongoing" ng-click="navbarCollapsed = !navbarCollapsed" class="indent">Complete</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="view-container">
						<section ui-view></section>
					</div>
					<div class="row">
						<div class="col-xs-12 text-center">
							<button class="btn btn-default">
								Post New Job
							</button>
						</div>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
		<!-- /#page-wrapper -->
		</div>
	<!-- /#wrapper -->
	</body>
</html>
